<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map & Geolocation</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1640px;
      height: 1500px;
    }
  </style>
   <script src="https://maps.googleapis.com/maps/api/js?key={{GoogleMapApiKey}}&callback=initMap" async defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</script>
</head>

<body>

  <!-- Map -->
  <div id="map" >
    <div id="map2"></div>
 </div>
 <button></button>
  <!-- Map -->

 
  <script>
    var map; //mapオブジェクト保管用
    var marker; 
    var infoWindow; //吹き出し
    var infoWindow1; //吹き出し
    var infoWindow2; //吹き出し

    //追加    配列の受け取り
     var data = {{data|tojson}};
     console.log(data); 


    //1．位置情報の取得に成功した時の処理
    function mapsStart(position) {

      //lat=緯度、lon=経度 を取得 
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;

     


      // オランダの緯度経度をlat2とlon2でセット
      var lat2 = 32.995315; 
      var lon2 = 129.758527;

      //物件a
      var lat3 = 32.995330; 
      var lon3 = 129.758560;

      //物件b
      var lat4 = 32.895330;; 
      var lon4 = 129.558560;

      //div#mapを「GoogleMap」化
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: lat2, lng: lon2 }, //緯度,経度を設定
        zoom: 13, //Zoom値設定
        //style 
        styles:
        [
     {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#749d6b"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
]
        //styleここまで
      });


   //配列表記
  // var data = new Array();
      var data1 = data;
       data1.push({lat:'33.005963', lng:'129.814619', name:'無人島田島　片山智弘'});
      // data.push({lat:'32.993740', lng:'129.810136', name:'SDGsナビゲーター　長谷川星香'});
      // data.push({lat:'32.992381', lng:'129.808606', name:'国際宇宙ステーションの人　長谷川純一'});
      // data.push({lat:'32.971183', lng:'129.823176', name:'建築家池田武邦の終のすみか　池田武邦'});
      // data.push({lat:'33.007290', lng:'129.791708', name:'フィトセラピスト　村山みほ'});
      // data.push({lat:'32.989228', lng:'129.782924', name:'ハウステンボス創設者　神近義邦'});
      console.log(data1); 
      //配列表記ここまで

    //   //変数 map2の定義
    // map2 = new google.maps.Map(document.getElementById("maps"), map);

    // マーカーの作成（0からデータの数分まで）
    for (i = 0; i < data.length; i++) {
     　create_marker(data[i].lat, data[i].lng);
     }

      // 関数 create_marker
      function create_marker(lat, lng){
      　//変数 marker_options
      　var marker_options = {
        　map: map,
          position: new google.maps.LatLng(lat, lng),
          zIndex: 0,        };
        // 変数 marker
        var marker = new google.maps.Marker(marker_options);
      }



        //1.5 プッシュピンを置く
    const beachMarker = new google.maps.Marker({
        position: { lat: lat2 + 0.001, lng: lon2 + 0.001 },
        map: map,
        icon: 'img/maps_pin.png'      
      });
    
              //物件の場所にピンを置く
              const beachMarker1 = new google.maps.Marker({
                position: { lat: lat3 + 0.005, lng: lon3 + 0.005 },
                map: map,
                icon: 'img/vgboy.png'
              });

               //物件の場所にピンを置く
               const beachMarker2 = new google.maps.Marker({
                position: { lat: lat4 + 0.005, lng: lon4 + 0.005 },
                map: map,
                icon: 'img/vgboy.png'
              });

              // マーカー吹き出しに追加
              infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
                            content: '<div class="sample">SCC オフィス</div>' // 吹き出しに表示する内容
                      });
                      beachMarker.addListener('click', function() { // マーカーをクリックしたとき
                      infoWindow.open(map, beachMarker); // 吹き出しの表示
                  });
                                  //あとで削除
                                        infoWindow1 = new google.maps.InfoWindow({ // 吹き出しの追加
                                            content: '<div class="sample">2LDK 築5年 一軒家</div>' // 吹き出しに表示する内容
                                      });
                                      beachMarker1.addListener('click', function() { // マーカーをクリックしたとき
                                      infoWindow.open(map, beachMarker1); // 吹き出しの表示
                                  });

                                     infoWindow2 = new google.maps.InfoWindow({ // 吹き出しの追加
                                            content: '<div class="sample">4LDK</div>' // 吹き出しに表示する内容
                                      });
                                      beachMarker2.addListener('click', function() { // マーカーをクリックしたとき
                                      infoWindow.open(map, beachMarker2); // 吹き出しの表示
                                  });

    };


          //2． 位置情報の取得に失敗した場合の処理
          function mapsError(error) {
            var e = "";
            if (error.code == 1) { //1＝位置情報取得が許可されてない（ブラウザの設定）
              e = "位置情報が許可されてません";
            }
            if (error.code == 2) { //2＝現在地を特定できない
              e = "現在位置を特定できません";
            }
            if (error.code == 3) { //3＝位置情報を取得する前にタイムアウトになった場合
              e = "位置情報を取得する前にタイムアウトになりました";
            }
            alert("エラー：" + e);
          };

          //3.位置情報取得オプション
          var set = {
            enableHighAccuracy: true, //より高精度な位置を求める
            maximumAge: 20000,        //最後の現在地情報取得が20秒以内であればその情報を再利用する設定
            timeout: 10000            //10秒以内に現在地情報を取得できなければ、処理を終了
          };

          //Main:位置情報を取得する処理 //getCurrentPosition :or: watchPosition
          function initMap() {
            navigator.geolocation.watchPosition(mapsStart, mapsError, set);
          }


       
  </script>
</body>

</html>